<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sufehelperapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExploreActivity" />
        <activity android:name=".MyActivity" />
        <activity android:name=".Task_ErrandActivity" />
        <activity android:name=".Task_SkillActivity" />
        <activity android:name=".Task_CounselActivity" />
        <activity android:name=".Explore_WeeklyDataActivity" />
        <activity android:name=".Explore_WeeklyTalentActivity" />
        <activity android:name=".Explore_MyTalentActivity" />
        <activity android:name=".TaskInfoActivity" />
        <activity android:name=".Task_Selection1Activity" />
        <activity android:name=".launchTaskActivity" />
        <activity android:name=".Task_Selection2Activity" />
        <activity android:name=".Task_Selection3Activity" />
        <activity android:name=".TimePicker"></activity>
    </application>

</manifest>