<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sufehelperapp">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExploreActivity" />
        <activity android:name=".MyActivity" />
        <activity android:name=".Task_ErrandActivity" />
        <activity android:name=".Task_SkillActivity" />
        <activity android:name=".Task_CounselActivity" />
        <activity android:name=".Explore_weekly" />
        <activity android:name=".Explore_WeeklyTalentActivity" />
        <activity android:name=".Explore_MyTalentActivity" />
        <activity android:name=".Task_InfoActivity" />
        <activity android:name=".Task_ErrandSelectActivity" />
        <activity android:name=".Task_LaunchActivity" />
        <activity android:name=".Task_SkillSelectActivity" />
        <activity android:name=".Task_CounselSelectActivity" />
        <activity android:name=".My_LoginFirstActivity" />
        <activity android:name=".My_LoginSecondActivity" />
        <activity android:name=".My_LoginThirdActivity" />
        <activity android:name=".My_LoginForthActivity" />
        <activity android:name=".My_RegisterFirstActivity" />
        <activity android:name=".My_RegisterSecondActivity" />
        <activity android:name=".Explore_weekly_interal"></activity>
    </application>

</manifest>