<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sufehelperapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="6XBYdiYeyZkxQYh3IKDtnv7p6mGGRQhk" />

        <activity android:name=".My_LoginFirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Task_HomeActivity" />
        <activity android:name=".ExploreActivity" />
        <activity android:name=".Task_ErrandActivity" />
        <activity android:name=".Task_SkillActivity" />
        <activity android:name=".Task_CounselActivity" />
        <activity android:name=".Explore_weekly" />
        <activity android:name=".Explore_WeeklyTalentActivity" />
        <activity android:name=".Task_InfoActivity" />
        <activity android:name=".Task_ErrandSelectActivity" />
        <activity android:name=".Task_LaunchActivity" />
        <activity android:name=".Task_SkillSelectActivity" />
        <activity android:name=".Task_CounselSelectActivity" />
        <activity android:name=".My_RegisterThirdActivity" />
        <activity android:name=".Task_SelectionEActivity" />
        <activity android:name=".My_LoginThirdActivity" />
        <activity android:name=".My_LoginForthActivity" />
        <activity android:name=".My_RegisterFirstActivity" />
        <activity android:name=".My_RegisterSecondActivity" />
        <activity android:name=".MyActivity_Vip" />
        <activity android:name=".Explore_MyTalent" />
        <activity android:name=".MyActivity_Setup" />
        <activity android:name=".MyActivity_Setup_Edit" />
        <activity android:name=".MyActivity_Myaward" />
        <activity android:name=".MyActivity_recievedaward" />
        <activity android:name=".MyActivity_Mytask" />
        <activity android:name=".MyActivity_mytask_personalhome" />
        <activity android:name=".MyActivity_evaluation" />
        <activity android:name=".MyActivity_credit" />
        <activity android:name=".MyActivity_Edit_NickName" />
        <activity android:name=".MyActivity_Edit_password" />
        <activity android:name=".MyActivity_Edit_phonenumber" />
        <activity android:name=".MyActivity_chat" />
        <activity android:name=".MyActivity_chat_home" />
        <activity android:name=".My_HomeActivity" />
        <activity android:name=".MyActivity_Historical_Task" />
        <activity android:name=".DBTESTActivity" />
        <activity android:name=".My_LoginSecondActivity" />
        <activity android:name=".My_RegisterForthActivity" />
        <activity android:name=".My_RegisterFifthActivity" />
        <activity android:name=".MyActivity_Task_Details" />
        <activity android:name=".MyActivity_Edit_dormname" />
        <activity android:name=".Selection1" />
        <activity android:name=".Selection2" />
        <activity android:name=".Selection3" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <activity android:name=".Map"></activity>
        <provider
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>